{% extends './layout.html' %}

<!-- {% block home-active %}class="active"{% endblock %} -->

{% block content %}
	<div class="tron">
		<div class="tron-title-container">
			<h1 class="tron-title"><span style="color:rgb(31, 189, 183);">T</span>ron<span style="color:rgb(31, 189, 183);">L</span>ines</h1>
			<div class="btn tron-btn btn-block">Enter</div>
		</div>
		<div class="container game">
			<div class="row">
				<div class="col-md-3">
					<div class="gameSidebar">
					<table>
						<tbody>
							<tr>
								<td class="playerColor"></td><td class="colorHolder"></td>
							</tr>
						</tbody>
					</table>
					<hr>
					<table>
						<tbody>
							<tr>
								<th>Player</th><th class="scoreCol">Score</th>
							</tr>
							<tr>
								<td><div class="colorCircle" id="player0"></div></td><td class="scoreCol" id="score0">0</td>
							</tr>
							<tr>
								<td><div class="colorCircle" id="player1"></div></td><td class="scoreCol" id="score1">0</td>
							</tr>
						</tbody>
					</table>
					<br>
					<div class="btn findNewGameBtn btn-warning">Find New Opponent</div>
				</div>
				</div>

				<div class="col-md-9">
					<div class="gridContainer">
						<div class="gameInfoContainer">
							<div class="player-won-container">
								<h4 class="win-text"></h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
{% endblock %}

{% block js %}
<!-- <script type="text/javascript" src="/movingnav.js"></script> -->
<script type="text/javascript" src="/d3.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/utilities.js"></script>
<script type="text/javascript" src="/bmtron.js"></script>
{% endblock %}